body {
    background-color: rgb(241, 189, 241);
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

header {
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    display: flex;
    flex-direction: column;
    color: rgb(192, 63, 224);
    margin-left: 20px;
    font-size: 300%;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

nav ul {
    display: flex; 
    justify-content:space-between;  
    min-width: 250px;
    list-style: none;
}

section {

}

h2 {
    display: flex;
    justify-content: space-evenly;
    min-width: 200px;
}

nav ul a {
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav ul a:hover {
    color:rgb(245, 7, 7);
}